.base {
    border-radius: 16px 16px 0 0;
    border: 1px solid var(--font-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    font-weight: bold;
}

.fill {
    background-color: var(--font-white-color);
    color: var(--ui-primary-color);
}

.outlined {
    background-color: var(--ui-primary-color);
    color: var(--font-white-color);
}

.outlined:hover {
    background-color: var(--font-white-color);
    color: var(--ui-primary-color);
}