.base {
    position: relative;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--ui-primary-color);
}

.medium {
    min-width: 343px;
    height: 224px;
}

.large {
    min-width: 343px;
    height: 343px;
}

.card__title {
    font-weight: bold;
    font-size: 20px;
    color: var(--font-white-color);
}

.card__subtitle {
    font-weight: bold;
    font-size: 14px;
    color: var(--font-white-color);
}

.card__icon {
    position: absolute;
    right: 16px;
    bottom: 16px;
}